body
  margin: 10px
  overflow-x: hidden

section
  text-align: center
  @media (min-width: 900px)
    width: 900px
    margin: 0 auto
img
  max-width: 100%
  height: auto

.l-pageHome
  text-align: center




  .flex-video-wrap
    max-width: 640px
    display: inline-block
    width: 100%

  pre
    text-align: left
    font-family: 'Fira Mono', monospace
    font-size: 30px
    color: darken($silver, 5%)
    position: absolute
    top: -50px
    left: -50px
    z-index: -1
    pointer-events: none

    @media (max-width: 500px)
      font-size: 20px

  article
    margin-bottom: 50px

    &:last-child
      margin-bottom: 0px
